<h3>Pedidos</h3>

<h4>Novos pedidos</h4>
<form method="POST" class=" pedidos col-6" #frm="ngForm" (ngSubmit)= "criar(frm)">
  <div class="form-group">
    <label for="exampleInputEmail1">Quantidade</label>
    <input type="number" class="form-control" id="exampleInputNome" value= ""
    [(ngModel)]="quantity" required/>

    <small id="emailHelp" class="form-text text-muted">Escreva seu nome.</small>
  </div>

  <div class="form-group" [(ngModel)]="payment" >
    <select name="payment" >
      <option value="valor1" invalid ></option><br>
      <option value="valor1">PAID</option>
      <option value="valor2" >WAITING_PAYMENT</option>
    </select>
    <small id="emailHelp" class="form-text text-muted">Selecione o meio de pagamento.</small>
  </div>

  <div class="form-group" name="Client"[(ngModel)]="client" >
    <select name="client" *ngFor="let clients of this.consultService.user" >
      <option value="valor1" invalid ></option><br>
      <option value="valor1">{{clients.nome}}</option><br>
    </select>
    <small id="emailHelp" class="form-text text-muted">Selecione o cliente</small>
  </div>
  <div class="form-group" name="product"[(ngModel)]="product" >
    <select name="product" *ngFor="let product of this.consultService.products" >
      <option value="valor1" invalid ></option><br>
      <option value="porduct-selection">{{product.name}}</option>
    </select>
    <small id="emailHelp" class="form-text text-muted"> Selecione o produto </small>
  </div>
  <div class="form-group">
    <label for="exampleInput">Descrição</label>
    <input type="text" class="form-control" id="exampleInputTel"
    [(ngModel)]="description" required name="description"
    />
    <small id="emailHelp" class="form-text text-muted"> Crie uma descrição</small>
  </div>
  <div class="form-group" name="categories"[(ngModel)]="categories" >
    <select name="categories" *ngFor="let categoria of this.consultService.categories" >
      <option value="valor1" invalid ></option><br>
      <option value="porduct-selection">{{categoria.nome}}</option>
    </select>
    <small id="emailHelp" class="form-text text-muted"> Selecione o produto </small>
  </div>


  <button type="submit" class="btn btn-primary" [disabled]="frm.invalid" >Cadastrar</button>
</form>

<br>


<table border="1">
  <tr>
    <th colspan="5" scope="colgroup">Pedidos</th>
    <th colspan="5" scope="colgroup">Itens</th>
  </tr>
  <tr>
    <th scope="col">ID</th>
    <th scope="col">Regristro</th>
    <th scope="col">Status</th>
    <th scope="col" >Cliente</th>
    <th scope="col" >Email</th>
    <th scope="col" >Quantidade</th>
    <th scope="col">Total</th>
    <th scope="col">Nome</th>
    <th scope="col" >Descrição</th>
    <th scope="col" >Categorias</th>
  </tr>
  <tr>

  </tr>

  <tr *ngFor ="let pedidos of this.consultService.orders" >
    <td>{{pedidos.id}}</td>
    <td>{{pedidos.moment}}</td>
    <td>{{pedidos.orderStatus}}</td>
    <td>{{pedidos.client.nome}}</td>
    <td>{{pedidos.client.email}}</td>
    <td>{{pedidos.items[0].quantity}}</td>
    <td>{{pedidos.items[0].price}}</td>
    <td>{{pedidos.items[0].product.name}}</td>
    <td>{{pedidos.items[0].product.description}}</td>
    <td>{{pedidos.items[0].product.categories[0].nome}}</td>

  </tr>


</table>
